# API URL for backend services
# Example: http://localhost:8000 or https://api.example.com
VITE_API_URL=http://127.0.0.1:8000
VITE_VOICE_URL=http://127.0.0.1:7861
VITE_TEST_STUDENT_USERNAME=student
VITE_TEST_STUDENT_PASSWORD=password
VITE_TEST_TUTOR_USERNAME=tutor
VITE_TEST_TUTOR_PASSWORD=password
VITE_TEST_SCHOOL_ADMIN_USERNAME=admin
VITE_TEST_SCHOOL_ADMIN_PASSWORD=password
VITE_TEST_MASTER_ADMIN_USERNAME=master
VITE_TEST_MASTER_ADMIN_PASSWORD=password
VITE_TEST_ORG_ADMIN_USERNAME=organization
VITE_TEST_ORG_ADMIN_PASSWORD=password
